fastapi
uvicorn
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
mysql-connector-python
opencv-python
numpy
pydantic[email]
apscheduler
pytz
requests
kafka-python
paho-mqtt
pymysql
python-json-logger
onnxruntime
Pillow
pyyaml
python-multipart
